!!! Strict
%html{ :lang => "en" }
  %head
    = csrf_meta_tag
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }/
    %title
      = raw @page_title + ": " if @page_title
      = MySettings.site_title if MySettings.site_title
    = stylesheet_link_tag 'forge/forge', 'http://fonts.googleapis.com/css?family=Open+Sans:400,700'
    :javascript
      var help_slug = '#{@help_slug}'

    - if @uses_ckeditor
      %script{:type => "text/javascript", :src => "/javascripts/ckeditor/ckeditor.js"}

    = javascript_include_tag 'forge/forge_manifest'
    = yield :scripts

  %body
    #notification-bar
      = image_tag("forge/icons/yay.png")
      %span= flash[:notice] ? raw(flash[:notice]) : ""
    - if flash[:warning] || flash[:alert]
      #warning= raw(flash[:warning]) || raw(flash[:alert])

    #top-shadow
      #container
        #util-nav
          #util-nav-content
            = link_to image_tag('forge/icons/gear.png', :width => 16, :height => 16), "/forge/settings", :class => "white-button"
            = link_to "View Live Site", "/", :class => "white-button"

            .welcome
              Hi,
              = link_to current_user.email, edit_forge_user_path(current_user)
              &nbsp;|&nbsp;
              = link_to "Log Out", "/logout"
        .spacer

        #header
          = link_to image_tag('forge/logo.png', :style => "vertical-align: middle"), '/forge'
          %span.label= MySettings.site_url.gsub('http://', '') if MySettings.site_url

        #content
          #menu= render :partial => "forge/shared/menu"

          #content-frame-holder
            #content-frame
              #crumbs= breadcrumb_trail(@controller_crumb, @action_crumb)
              #movable-content
                = yield
              #help-pane
                #help-content
              .spacer
          .spacer


        #footer
          &copy; Copyright factor[e] design initiative inc. #{Time.now.year}
          %br/
          = raw(Forge.config.support_instructions_in_layout)

        = link_to '?', '/forge/help', :id => 'help_toggle', :class => 'help-button'

    = render :partial => "forge/shared/asset_drawer"
    #thinking
      .thinking-box
        = image_tag("forge/forge-loader.gif")
        %h3 One moment please...


